* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body.is-finish {
    overflow: hidden;
}
.container {
    height: 100vh;
    display: flex;
    padding: 16px;
}
.sliding-puzzle {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    max-width: 400px;
    border: 2px solid #6464e1;
    margin: auto;
    border-radius: 6px;
    padding: 6px;
}
.sliding-puzzle.is-finish {
    pointer-events: none;
}
.sliding-puzzle__cell {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(25% - 4.5px);
    border-radius: 6px;
    border: none;
    font-weight: 900;
    font-size: 24px;
    transition: box-shadow ease 0.2s, transform ease 0.2s;
}
.sliding-puzzle__cell:not(.is-empty) {
    background-color: #6464e1;
}
.sliding-puzzle__cell:not(.is-empty).is-active-move {
    cursor: pointer;
}
.sliding-puzzle__cell:not(.is-empty).is-active-move:hover {
    box-shadow: 0 0 12px 2px #000000;
}
.sliding-puzzle__cell::before {
    content: '';
    display: block;
    padding-top: 100%;
}
.finish {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    padding: 16px;
    backdrop-filter: blur(6px);
    font-size: 80px;
    font-weight: 900;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility ease 0.4s, opacity ease 0.4s;
}
.finish__container {
    max-width: 500px;
    width: 100%;
    text-align: center;
}
.finish.is-active {
    visibility: visible;
    opacity: 1;
}
.finish__btn-restart {
    display: block;
    width: 100%;
    border-radius: 8px;
    margin-top: 24px;
    padding: 8px 16px;
    background: #6464e1;
    border: 1px solid #ffffff;
    color: #000000;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
    transition: background ease 0.4s, color ease 0.4s;
}
.finish__btn-restart:hover {
    background: #000000;
    color: #ffffff;
}